body{
    padding: 0px;
}
#services{
    display: flex;
    
}
.consultation, .emergencies, .cancer, .Cardiology,.laboratory{
 height: 40vh;
 width: 25%;
 margin: 0.5rem;
 text-align: center;
 box-shadow: 2px 2px 4px 4px;
}

.emergencyImage, .cardiologyImage, .cancerImage, .consultationImage{
    height:60%;
    width: 100%;
}

