body{
    padding: 0px;
    margin: 0;
    
}
.navigation{
    height: 8rem;
    margin-bottom: 0rem;
     position: fixed;
     width: 100%;
     top: 0%;
     display: flex;
    justify-content: space-between;
    z-index: 1100;
    background: linear-gradient(-45deg, rgb(64, 124, 104), white);
     
}
.fa-solid{
    color: red;
}
.texas{
    margin-left: 3rem;
}
.texas h1:hover{
  background-color: rgb(64, 124, 104);
  padding: 0.5rem;
  border-radius: 5rem;
}
.texas span{
  color: red;
}
.texas span:hover{
    color: white;
}
.navlinks>a{
    position: relative;
    top: 2rem;
    text-decoration: none;
    text-transform:uppercase;
    padding: 1rem;
    color: black;
    
}
.navlinks>a:hover{
    color: white;
    background-color: black;
    border-radius: 5rem;
}
#home{
    position: relative;
    top: 10rem;
    height: 100vh;
}
#homepage{
    display: flex;
}

 .cancerScreening, .communitywork, .tetanus,.phamarcy{
     width: 49vw;
    height: 65vh;
    color: white;
    background-color: rgb(64, 124, 104);
    
 }
.itemlider, #events{
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    height: 75vh;
    width: 50vw;
    margin: 1rem;
   
}
#events ul li div h4, p{
    margin-left: 1rem;
   
}
.itemlider ul, #events ul{
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
}
.itemlider ul li, #events ul li{
    position: relative;
    height: 100%;
    float: left;
}
.itemlider ul li img{
    width: 50vw;
    height: 68vh;
}
.itemlider ul li h4{
    background-color: rgb(64, 124, 104);
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5rem;
}
#events #previous, #events #next{
     width: 50px;
    line-height: 50px;
    text-align: center;
    color: red;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2.5rem;
    text-shadow: 0 0 20px rgb(0, 0, 6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}
#events #previous{
left: 10px;
}
#events #next{
right: 10px;
}
#events #previous:hover, #events #next:hover{
    text-shadow: 0;
    background-color: black;
}
.itemlider #previous, .itemlider #next{
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2.5rem;
    text-shadow: 0 0 20px rgb(0, 0, 6);
    transform: translateY(-50%);
    transition: all 150ms ease;
}
.itemlider #previous{
    left: 10px;
}
.itemlider #next{
    right: 10px;
}
.itemlider #previous:hover, .itemlider #next:hover{
    background-color: rgb(64, 124, 104);
    text-shadow: 0;
}
#services{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 3rem;
    left: 5rem;
    height: 100vh;
background-color: black5;
    
    
}
.consultation, .emergencies, .cancer, .Cardiology,.laboratory, .circumcision, .meternity{
 height: 40vh;
 width: 30%;
 margin: 0.5rem;
 font-size: 18px;
 text-align: center;
 text-transform: capitalize;
 box-shadow: 2px 2px 4px 4px;
 background-color: white;
 
}
.para:hover{
    background-color: rgb(64, 124, 104);
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 0px;
    height: 14%;
   

}

.emergencyImage,.meternityimage, .cardiologyImage, .cancerImage, .consultationImage, .labimage, .circumcisionImage{
    height:60%;
    width: 100%;
}
.emergencies:hover,.consultation:hover, .cancer:hover, .Cardiology:hover,.laboratory:hover, .circumcision:hover, .meternity:hover{
    cursor: pointer;
    height: 43%;
}

#appointments{
   display: flex;
   align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, white 45%, rgb(64, 124, 104) 45%);
}
.appointment-form{
    margin: 4rem;
    position: relative;
    height: 300px;
    width: 35%;
}
.fullname, .email{
    height: 2rem;
    background-color: silver;
    width: 95%;
    margin: 1rem;
    border: none;
    box-shadow: 2px 2px 2px 2px;
   border-radius: 1rem;
}
.age, .gender{
    height: 2rem;
    width: 47%;
    margin-left: 0.3rem;
   border-radius: 1rem;
   border: none;
    box-shadow: 2px 2px 2px 2px;
   background-color: silver;

}
.date{
    height: 2rem;
    width: 95%;
    margin: 1rem;
   border-radius: 1rem;
   background-color: silver;
    box-shadow: 2px 2px 2px 2px;
   border: none;
}
.bookservice{
    height: 2rem;
    width: 45%;
    border-radius: 1rem;
    background-color: silver;
     box-shadow: 2px 2px 2px 2px;
}
.book{
    height: 2.5rem;
    color: white;
    background-color: black;
    border: none;
    width: 10rem;
    margin: 2rem;
    font-size: large;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 2px white;
}
.book:hover{
    cursor: pointer;
    background-color: red;
    color: black;
}
.appoint{
    text-transform: capitalize;
}
#location{
    height: 70vh;
    width: 100%;
    position: relative;
    top: 70rem;
    margin-left: 2rem;
}
.mapouter{
    position:relative;
    top: 0%;
    text-align:right;
    height:575px;
    width:763px;
    margin-left: 2rem;
}