body{
    padding: 0px;
    margin: 0;
}
.navigation{
    height: 8rem;
    margin-bottom: 0rem;
     position: fixed;
     width: 100%;
     top: 0%;
     display: flex;
    justify-content: space-between;
    z-index: 1100;
    background: linear-gradient(-45deg, rgb(64, 124, 104), white);
     
}
.fa-solid{
    color: red;
}
.texas{
    margin-left: 3rem;
}
.texas h1:hover{
  background-color: rgb(64, 124, 104);
  padding: 0.5rem;
  border-radius: 5rem;
}
.texas span{
  color: red;
}
.texas span:hover{
    color: white;
}
.navlinks>a{
    position: relative;
    top: 2rem;
    text-decoration: none;
    text-transform:uppercase;
    padding: 1rem;
    color: black;
    
}
.navlinks>a:hover{
    color: white;
    background-color: black;
    border-radius: 5rem;
}
#services{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 3rem;
    left: 5rem;
    height: 100vh;

    
    
}
.consultation, .emergencies, .cancer, .Cardiology,.laboratory, .circumcision, .meternity{
 height: 40vh;
 width: 30%;
 margin: 0.5rem;
 font-size: 18px;
 text-align: center;
 text-transform: capitalize;
 box-shadow: 2px 2px 4px 4px;
 background-color: white;
 
}
.para:hover{
    background-color: rgb(64, 124, 104);
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 0px;
    height: 14%;
   

}

.emergencyImage,.meternityimage, .cardiologyImage, .cancerImage, .consultationImage, .labimage, .circumcisionImage{
    height:60%;
    width: 100%;
}
.emergencies:hover,.consultation:hover, .cancer:hover, .Cardiology:hover,.laboratory:hover, .circumcision:hover, .meternity:hover{
    cursor: pointer;
    height: 43%;
}
#home{
    height: 100vh;
}
#appointments{
   display: flex;
   align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, white 45%, rgb(64, 124, 104) 45%);
}
.appointment-form{
    margin: 4rem;
    position: relative;
    height: 300px;
    width: 35%;
}
.fullname, .email{
    height: 2rem;
    background-color: silver;
    width: 95%;
    margin: 1rem;
    border: none;
    box-shadow: 2px 2px 2px 2px;
   border-radius: 1rem;
}
.age, .gender{
    height: 2rem;
    width: 47%;
    margin-left: 0.3rem;
   border-radius: 1rem;
   border: none;
    box-shadow: 2px 2px 2px 2px;
   background-color: silver;

}
.date{
    height: 2rem;
    width: 95%;
    margin: 1rem;
   border-radius: 1rem;
   background-color: silver;
    box-shadow: 2px 2px 2px 2px;
   border: none;
}
.bookservice{
    height: 2rem;
    width: 45%;
    border-radius: 1rem;
    background-color: silver;
     box-shadow: 2px 2px 2px 2px;
}
.book{
    height: 2.5rem;
    color: white;
    background-color: black;
    border: none;
    width: 10rem;
    margin: 2rem;
    font-size: large;
    border-radius: 2rem;
    box-shadow: 1px 1px 2px 2px white;
}
.book:hover{
    cursor: pointer;
    background-color: red;
    color: black;
}
.appoint{
    text-transform: capitalize;
}